evaluation.yaml
envtest/ros/summary.yaml

# Python stuff
*.pyc
*__pycache__

# Compile Commands
*/compile_commands.json
*/.clangd
.clang-format

# VScode stuff
.vscode/*

# CLion Stuff
.idea/
cmake-build-debug/

*.swp
# Vim Stuff
Session.vim

# Tag files
TAGS
GTAGS
GRTAGS
GPATH

# temporary files
*~

.history/*
.vscode/*

saved

learner/.vscode/*
learner/logs
learner/temp.png
learner/data/
*.code-workspace
envtest/ros/rollouts

*model*.pth
*animation*.gif

envtest/ros/rollouts/
envtest/ros/stored_metrics/

*.dat
*/summary.yaml
envtest/ros/*set/
build/

utils/stored_metrics/tmp

data/

*.bag

pretrained_models

dodgedrone_simulation/dodgelib/externals/

evfly_ros/CATKIN_IGNORE
evfly_dv_ros/CATKIN_IGNORE

envsim/resources/rviz/envsim.rviz

.venv/

**/.ipynb_checkpoints
